
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Calculations</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="mx-auto w-75">
        <center>
            <img src="~/Images/calculations.png" alt="calculations" class="img-fluid" />
        </center>
    </div>
</body>
</html>