

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Start Form for RLC Filter</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <h3>This is the Start Form for adding RLC Filter</h3>
        <h4>You are invited to add a new RLC filter</h4>
        <a class="btn btn-primary" asp-action="FilterForm">Add a Filter RLC Now</a>
        <a class="btn btn-danger" asp-action="ListFilters">List of filters</a>
    </div>
    <div class="img-fluid">
        <center>
            <img src="~/Images/electric_circuit.png" alt="Filter schematic diagram" class="img-fluid" />
        </center>
    </div>
</body>
</html>